@font-face {
  font-family: "Young Serif";
  src: url(/assets/fonts/young-serif//YoungSerif-Regular.ttf);
}

@font-face {
  font-family: "Outfit";
  src: url(/assets/fonts/outfit/Outfit-VariableFont_wght.ttf);
}
:root {
  --clr-Nutmeg: #854632;
  --clr-Dark-Raspberry: #7b284f;

  --clr-White: #ffffff;
  --clr-Rose-White: #fff5fa;
  --clr-Eggshell: #f3e6d8;
  --clr-Light-Grey: #e4ded8;
  --clr-Wenge-Brown: #5f574e;
  --clr-Dark-Charcoal: #302d2c;

  --ff-main: "Outfit", sans-serif;
  --ff-headings: "Young-serif", serif;
  --fs-main: 1rem;
  --fs-heading: 1.75rem;
  --fw-400: 400;
  --fw-600: 600;
  --fw-700: 700;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
  line-height: 1.2;
  font-family: var(--ff-headings);
  font-size: var(--fs-heading);
  font-weight: var(--fw-600);
  color: var(--clr-Nutmeg);
  margin-bottom: 1.27rem;
}

ul,
ol {
  padding: 0 1rem;
}

img {
  display: block;
  max-width: 100%;
  font-style: italic;
  color: var(--clr-Dark-Raspberry);
}

body {
  font-family: var(--ff-main);
  font-weight: var(--fw-400);
  font-size: var(--fs-main);
  line-height: 1.5;
  color: var(--clr-Wenge-Brown);
  background: var(--clr-Eggshell);
}

table {
  border-collapse: collapse;
  width: 100%;
}

/* text style */
.recipe-title {
  font-size: 2.75rem;
  color: var(--clr-Dark-Charcoal);
}
.prep-title {
  font-size: 1.5rem;
  font-weight: var(--fw-600);
  color: var(--clr-Dark-Raspberry);
  margin-bottom: 0.3rem;
}

span {
  font-weight: var(--fw-700);
}

[data-cell="nutrient-value"] {
  color: var(--clr-Nutmeg);
  font-weight: var(--fw-600);
}

li {
  padding-left: 1rem;
  margin-bottom: 0.5rem;
}

li::marker {
  color: var(--clr-Nutmeg);
  font-weight: var(--fw-600);
}
.attribution {
  font-size: 16px;
  text-align: center;
  margin-top: -51px;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
/* layout styles */
.wrapper {
  display: grid;
  place-items: center;
}
.recipe-wrapper {
  max-width: 45rem;
  padding: 1.75rem;
  margin: 6rem 0;
  border-radius: 1.5rem;
  background: var(--clr-White);
}
/* general styles */
.recipe-img {
  border-radius: 0.8rem;
  margin-bottom: 1rem;
}

section {
  margin-top: 2rem;
}
hr {
  outline: none;
  border: none;
  height: 1px;
  background: var(--clr-Light-Grey);
  margin-top: 2rem;
}

.prep-time {
  padding: 1.75rem;
  border-radius: 0.8rem;
  margin-top: 2rem;
  background: var(--clr-Eggshell);
}

tr {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 1rem;
  border-bottom: 1px solid var(--clr-Light-Grey);
}
/* media queries */
@media (max-width: 500px) {
  .recipe-wrapper {
    margin: 0;
    border-radius: 0;
    padding: 0;
  }
  .recipe-img {
    border-radius: 0;
  }

  .recipe-container {
    padding: 0 1.75rem;
  }
  .recipe-title {
    font-size: 2.2rem;
  }
  .attribution {
    font-size: 11px;
    margin-top: 31px;
  }
}
